@media (max-width: 620px){
/* header */
    .main_header{
        width: 80%;
        gap: 60%;
    }
    .header_nav{
        display: none;
    }
    .header_button{
        display: none;
    }
    .fa-bars{
        display: block;   
    }
    
/* header */
/* section 1 */
    .section1{
        margin: auto;
    }
/* section 1 */
/* section 2 */
    .section2_div{
        gap: 50px;
    }
    .main_footer{
        align-items: center;
    }
    

    .feature_div{
        gap: 46px;
    }
}