@media (max-width: 1100px){
/* section 1 */
    .section1{
        margin: 44px auto;
        flex-direction: column;
        row-gap: 20px;
        
    }
    .section1_text_div{
        width: 80%;
        text-align: center;
    }
    .section1_img_div{
        width: 100%;
    }
    
/* section 1 */


/* section 2 */
    .section2{
        padding: 3%;
    }
    .section2_div{
        flex-wrap: wrap;
        gap: 65px;
    }
    .section2_img_div{
        width: 100%;
    }
    .section2_text_div{
        width: 100%;
        flex-direction: row;
        gap: 15px;
        justify-content: space-between;
        align-items: start;
    }
/* section 2 */
/* footer */
    .main_footer{
        flex-direction: column;
        gap: 48px;
    }
    .last_item_footer{
        display: none;
    }
  
}